\# internal files/dirs
.ipynb_checkpoints/
.~lock*
pythonLib/thc_toolkit/__pycache__/
*.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
pythonLib/.pytest_cache/
*CLAUDE.md

# messy "works in progress"
/scripts/
/generated/
### Notes ###
# /builds/ == Ignore the 'builds' folder in the root directory
# logs/ == Ignore any folder named 'logs' anywhere in the repository
